<template>
  <div>
    <form @submit.prevent="addTask">
      <input v-model="newTask" type="text" placeholder="newTask" />
      <select v-model="newPriority">
        <option value="0">NONE</option>
        <option value="1">LOW</option>
        <option value="2">MID</option>
        <option value="3">HIGH</option>
      </select>
    </form>
    <div>
      <button @click="addTask" class="inputBtt">AddTask</button>
    </div>

    <select @change="sort" v-model="selected">
      <option disabled>Select first</option>
      <option value="AZ">A-Z</option>
      <option value="ZA">Z-A</option>

      <option value="LH">LOW -> HIGH</option>
      <option value="HL">HIGH ->LOW</option>
    </select>
    <button   @click="toggle()">TOGGLE TASKS</button>
    <div v-if="!hide">

    <ul v-for="(task, index) in tasks" :key="index">
      <article :style="`color: ${findColor(task.priority)}`">
        <h4 :class="{donename: task.condition}" id="text">
          <input type="checkbox" :checked="task.condition" @click="toggleDone(index)">
          {{task.name}} 
          <span class="delete" @click="remove(index)">x</span>
        </h4>
        
      </article>
    </ul>
    </div>
  </div>
</template>
<script>
    const axios = require('axios');
    
   
    export default {
        
        data(){
            return{
                selected:"",
                hide:false,
                list:[],
                tasks:[],
                newTask:'',
                newPriority:'',
                priorities: [
                    "none",
                    "low",
                    "mid",  
                    "high"
                ]
             }
        },
        created(){
            this.show();
        },
        methods: {
            

            
            addTask(){
                
                
                if(this.newTask.trim() =="")return alert("nezadal si task")
               
                axios.post('https://druhaci.hybridlab.dev/DR-DOS/BE/TODOLIST/todo.fld/api/v1/tasks/', {
                        condition: false,
                        name: this.newTask,
                        priority: this.newPriority,
                        })
                        .then((response)=>{
                            this.tasks.push(response.data)
                            this.newTask=''
                            })
            },

            remove(index){
                
                const res = axios.delete(`https://druhaci.hybridlab.dev/DR-DOS/BE/TODOLIST/todo.fld/api/v1/tasks/${this.tasks[index].id}`).then((response)=>{

                    console.log(response),
                    this.tasks.splice(index, 1),
                    res.status; // 200
                })
                
                // axios.delete("https://druhaci.hybridlab.dev/DR-DOS/BE/todo.fld/api/v1/tasks/").then((response)=>{
                
                // })
            },
            
            toggleDone(index){
                const task = this.tasks[index]
                this.tasks[index].condition = !task.condition
                
            },
            sort(e){
                const value = e.target.value
                const isAbec = (value == 'AZ' || value == 'ZA')
                

            
                if(isAbec){
                    const order = e.target.value == "AZ"? 1 : -1 
                    this.tasks = this.tasks.sort(function(task, nextTask){
                        
                        if(task.name < nextTask.name) {return -1 *order; }
                        if(task.name > nextTask.name) {return 1*order; }
                        return 0;
                     }
                
                )}
                    
                else{
                    const order = e.target.value == "LH"? 1:-1
                    console.log(order)
                    this.tasks = this.tasks.sort(function(task, nextTask){
                        
                        if(task.priority < nextTask.priority) {return -1 *order;}
                        if(task.priority > nextTask.priority) {return 1*order;}
                        return 0;
                    }
                 )}
                
            },
            findColor(priority){

                if(priority == 0) {
                    return 'grey'
                }else if(priority == 1) {
                    return 'green'
                }else if(priority == 2) {
                    return 'orange'
                }else if(priority == 3) {
                    return 'red'
                }
                
            },
            show(){
                
                axios.get("https://druhaci.hybridlab.dev/DR-DOS/BE/TODOLIST/todo.fld/api/v1/tasks/").then((response)=>{
                    console.log(response.data);
                    this.tasks=response.data
                })
            },
            delete(){
                axios.delete("https://druhaci.hybridlab.dev/DR-DOS/BE/TODOLIST/todo.fld/api/v1/tasks/").then((response)=>{
                    console.log(response);
                
                })
                //this.tasks=
            },
            toggle(){
                this.show();
                this.hide=!this.hide;
            },
            
        }    
            
    }
</script>

<style>
body{
    background-color: white;
}

.inputBtt {font-size: 1em;}
span{
    font-size: 2em;
}
.cislo{
    max-width: 3em;
    font-size: 1em;
}
.priorita{
    max-width: 6em;
    margin-left: 4px;
}
.delete{
   margin-left: 10em;
    
}
/* .donename{
    text-decoration:line-through;
} */


</style>
